
html {
  scroll-behavior: smooth;
}

/* ========= Banner ========= */
.p1-banner {
    text-align: center;
    background: url(http://tetra-logic.com/img/pw_maze_black_2X.png) left top repeat;
    padding: 230px 0;
}
.p1-img-logo{
    content: url(http://tetra-logic.com/img/TetraLogo2.png);
    width: auto; /*or your image's width*/
    height: auto; /*or your image's height*/
    max-width: 166px;
    max-height: 160px;
    margin-right: 2.5rem;
    margin-top: -3rem;
    -webkit-transform: rotateY(0deg); /* Safari prior 9.0 */
    transform: rotateY(0deg); /* Standard syntax */
    transition: transform 0.6s ease-in-out;
    -moz-transition: transform 0.6s ease-in-out;
    -webkit-transition: transform 0.6s ease-in-out;
    -webkit-animation-name: logo-effect; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
    animation-name: logo-effect;
    animation-duration: 2s;
}
.p1-img-logo:hover{
    transform-style: preserve-3d;
    backface-visibility:visible;
    transform-origin:bottom;
    perspective: 400px;
    perspective-origin: 25% 75%;
    -webkit-transform: rotateY(150deg); /* Safari prior 9.0 */
    transform: rotateY(150deg) perspective(400px) translateX(-20%) scale(1.5); /* Standard syntax */
    /*-webkit-transform: rotateX(150deg); 
  transform: rotateX(150deg); 
    -webkit-transform: rotateZ(90deg); 
  transform: rotateZ(90deg);*/
    transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
}
.p1-h1-techname{
    color: #fff;
    font-size: 3rem; /*2.5rem = 40px*/
    font-family: 'Montserrat',sans-serif;
    font-size: 52px;
    font-weight: 0;
    letter-spacing: 1px;
    position: relative;
    -webkit-animation-name: opcacity-top; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
    animation-name: opcacity-top;
    animation-duration: 2s;
/*
    animation-delay: 0.8s;
*/
}
.p1-p-mission{
    font-family: 'Montserrat',sans-serif;
    font-size: 16px;
    color: #bcbcbc;
    text-transform: uppercase;
    font-weight: 0;
    letter-spacing: 0.8px;
    padding: 16px 0 28px;
    position: relative;
    -webkit-animation-name: opcacity-bottom; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
    animation-name: opcacity-bottom;
    animation-duration: 2s;
   /* animation-delay: 0.8s;*/
}
.p1-a-more{
    font-family: 'Montserrat', sans-serif;
    background: #66cc5e;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.5px;
    padding: 18px 32px;
    margin-right: 0.5rem;
    text-transform: uppercase;
    border-radius: 3px;
    position: relative;
    /*transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;*/
    -webkit-animation-name: opcacity-bottom; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
    animation-name: opcacity-bottom;
    animation-duration: 2s;
    /*animation-delay: 0.8s;*/
}
.p1-a-more:hover{
    color: #48b13f;
    background: #f0eeee;
    text-decoration: none;
}
/* Effect 1 */
    @-webkit-keyframes opcacity-top { /* Safari 4.0 - 8.0 */
      from {opacity: 0; top: -30px;}
      to {opacity: 1; top: 0;}
    }
    @keyframes opcacity-top { /* Standard syntax */
      from {opacity: 0; top: -30px;}
      to {opacity: 1; top: 0;}
    }
    @-webkit-keyframes opcacity-bottom { /* Safari 4.0 - 8.0 */
      from {opacity: 0; bottom: -30px;}
      to {opacity: 1; bottom: 0;}
    }
    @keyframes opcacity-bottom { /* Standard syntax */
      from {opacity: 0; bottom: -30px;}
      to {opacity: 1; bottom: 0;}
    }
/* Effect 2 */
    @-webkit-keyframes logo-effect {
      from {transform-style: preserve-3d;
        backface-visibility:visible;
        transform-origin:bottom;
        perspective: 400px;
        perspective-origin: 25% 75%;
        -webkit-transform: rotateY(150deg); /* Safari prior 9.0 */
        transform: rotateY(150deg) perspective(400px) translateX(-20%) scale(1.5); /* Standard syntax */
        transition: all 1s ease-in-out;
        -moz-transition: all 1s ease-in-out;
        -webkit-transition: all 1s ease-in-out;}
      to {-webkit-transform: rotateY(0deg); /* Safari prior 9.0 */
        transform: rotateY(0deg); /* Standard syntax */
        transition: transform 0.6s ease-in-out;
        -moz-transition: transform 0.6s ease-in-out;
        -webkit-transition: transform 0.6s ease-in-out;}
    }
    @keyframes logo-effect {
      from {transform-style: preserve-3d;
        backface-visibility:visible;
        transform-origin:bottom;
        perspective: 400px;
        perspective-origin: 25% 75%;
        -webkit-transform: rotateY(150deg); /* Safari prior 9.0 */
        transform: rotateY(150deg) perspective(400px) translateX(-20%) scale(1.5); /* Standard syntax */
        transition: all 1s ease-in-out;
        -moz-transition: all 1s ease-in-out;
        -webkit-transition: all 1s ease-in-out;}
      to {-webkit-transform: rotateY(0deg); /* Safari prior 9.0 */
        transform: rotateY(0deg); /* Standard syntax */
        transition: transform 0.6s ease-in-out;
        -moz-transition: transform 0.6s ease-in-out;
        -webkit-transition: transform 0.6s ease-in-out;}
    }
/* ========= End Banner ========= */



/* ========= Menu ========= */
.p2-img-logo{
    content: url(http://tetra-logic.com/img/TetraLogo2.png);
    width: auto; /*or your image's width*/
    height: auto; /*or your image's height*/
    max-width: 66px;
    max-height: 56px;
}
.p2-menu {
    -webkit-box-shadow: 0 4px 6px -6px black;
    -moz-box-shadow: 0 4px 6px -6px black;
    box-shadow: 0 4px 6px -6px black;
}
#navbar {
    overflow: hidden;
    text-align: center;
    vertical-align: middle;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
    opacity: 1;
    background: #f7f7f7;
    text-align: center;
    vertical-align: middle;
    -webkit-box-shadow: 0 4px 6px -6px black;
    -moz-box-shadow: 0 4px 6px -6px black;
    box-shadow: 0 4px 6px -6px black;
}
#navbar a {
    font-family: 'Montserrat',sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 0;
    letter-spacing: 0px;
    width: 13%;
    display:inline-block;
    color: black;
    text-align: center;
    padding: 2% 0;
    text-decoration: none;
}
#navbar a:hover {
  color: #89a1ef;
}
/* ========= End Menu ========= */



/* ========= INDUSTRIES ========= */
.p4-industries {
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
}
#industries ul{
    text-align: center;
    vertical-align: middle;
    padding-left: 8%;
    padding-right: 6%;
    padding-top: 1%;
}
#industries ul li a{
    font-size: 14.5px;
    letter-spacing: 0.2px;
    font-weight: 450;
    color: #000;
    background: #f5f5f5;
    border-radius: 10px;
}
.nav-justified .active{
    background: #66cc5e !important;
    color: #fff !important;
}
    /* content of each INDUSTRIES */
#industries .tab-pane {
    text-align:justify; 
    width: 86%;
}
#industries .tab-pane p {
    margin-bottom: 0;
}
#industries .tab-pane b{
    font-weight: 550;
}
#industries .tab-pane ul{
    text-align:justify; 
    list-style: circle;
}
#industries .tab-pane ul li{
    padding: 4px 0;
}
/* ========= End INDUSTRIES ========= */




/* ========= Clients ========= */
/* Slideshow container */
.p6-slideshow {
    position: relative;
    background: url(http://tetra-logic.com/img/section-bg1.jpg);
    margin: 5% 0;
}
/* Slides */
.p6-mySlides {
    display: none;
    padding: 90px 80px 40px;
    text-align: center;
    font-size: 24px;
}
.p6-mySlides q{
    font-style: italic;
    color: #fff;
    font-size: 28px;
}
/* Add a blue color to the author */
.p6-mySlides p {color: cornflowerblue;padding-top: 8px;}
/* Next & previous buttons */
.p6-prev, .p6-next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -30px;
  padding: 16px 32px;
  color: #fff !important;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
/* Position the "next button" to the right */
.p6-next {
  position: absolute;
  right: 0;
  border-radius: 3px 0 0 3px;
}
/* On hover, add a black background color with a little bit see-through */
.p6-prev:hover, .p6-next:hover {
  color: #717171 !important;
}
/* The dot/bullet/indicator container */
.p6-dot-container {
    text-align: center;
    padding: 16px;
    /*background: #ddd;*/
}
/* Add a background color to the active dot/circle */
.p6-active, .p6-dot:hover {
  background-color: #717171 !important;
}
/* The dots/bullets/indicators */
.p6-dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #cccccc;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
/* ========= End Clients ========= */


/* ========= Footer ========= */
.p8-footer {
    text-align: center;
    background: url(http://tetra-logic.com/img/pw_maze_black_2X.png) left top repeat;
    padding: 30px 0 10px;
}
.p8-img-logo{
    content: url(http://tetra-logic.com/img/TetraLogo2.png);
    width: auto; /*or your image's width*/
    height: auto; /*or your image's height*/
    max-width: 76px;
    max-height: 70px;
    margin-right: 1rem;
    margin-bottom: 1.2rem;
}
.p8-p-text{
    color: #d0c5c5;
}
/* ========= End Footer ========= */
