

/* ========= Banner ========= */
.p1-banner {
    text-align: center;
    background: url(http://tetra-logic.com/img/pw_maze_black_2X.png) left top repeat;
    padding: 230px 0;
}
.p1-img-logo{
    content: url(http://tetra-logic.com/img/TetraLogo2.png);
    width: auto; /*or your image's width*/
    height: auto; /*or your image's height*/
    max-width: 166px;
    max-height: 160px;
    margin-right: 2.5rem;
    margin-top: -3rem;
    -webkit-transform: rotateY(0deg); /* Safari prior 9.0 */
    transform: rotateY(0deg); /* Standard syntax */
    transition: transform 0.6s ease-in-out;
    -moz-transition: transform 0.6s ease-in-out;
    -webkit-transition: transform 0.6s ease-in-out;
    -webkit-animation-name: logo-effect; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 1.5s; /* Safari 4.0 - 8.0 */
    animation-name: logo-effect;
    animation-duration: 1.5s;
}
.p1-img-logo:hover{
    transform-style: preserve-3d;
    backface-visibility:visible;
    transform-origin:bottom;
    perspective: 400px;
    perspective-origin: 25% 75%;
    -webkit-transform: rotateY(150deg); /* Safari prior 9.0 */
    transform: rotateY(150deg) perspective(400px) translateX(-20%) scale(1.5); /* Standard syntax */
    /*-webkit-transform: rotateX(150deg); 
  transform: rotateX(150deg); 
    -webkit-transform: rotateZ(90deg); 
  transform: rotateZ(90deg);*/
    transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
}
.p1-h1-techname{
    color: #fff;
    font-size: 3rem; /*2.5rem = 40px*/
    font-family: 'Montserrat',sans-serif;
    font-size: 52px;
    font-weight: 0;
    letter-spacing: 1px;
    opacity: 1;
    -webkit-animation-name: opcacity01; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
    animation-name: opcacity01;
    animation-duration: 4s;
    animation-delay: 0.8s;
}
.p1-p-mission{
    font-family: 'Montserrat',sans-serif;
    font-size: 16px;
    color: #bcbcbc;
    text-transform: uppercase;
    font-weight: 0;
    opacity: 1;
    letter-spacing: 0.8px;
    padding: 16px 0 28px;
    -webkit-animation-name: opcacity01; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
    animation-name: opcacity01;
    animation-duration: 4s;
    animation-delay: 0.8s;
}
.p1-a-more{
    font-family: 'Montserrat', sans-serif;
    background: #7cc576;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    opacity: 1;
    letter-spacing: 0.4px;
    padding: 18px 32px;
    text-transform: uppercase;
    border-radius: 3px;
    /*transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;*/
    -webkit-animation-name: button-scale; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
    animation-name: button-scale;
    animation-duration: 4s;
    animation-delay: 0.8s;
}
.p1-a-more:hover{
    color: #7cc576;
    background: #f0eeee;
    text-decoration: none;
    font-weight: 500;
}
/* Effect 1 */
    @-webkit-keyframes opcacity01 { /* Safari 4.0 - 8.0 */
      from {opacity: 0}
      to {opacity: 1}
    }
    @keyframes opcacity01 { /* Standard syntax */
      from {opacity: 0}
      to {opacity: 1}
    }
/* Effect 2 */
    @-webkit-keyframes logo-effect {
      from {transform-style: preserve-3d;
        backface-visibility:visible;
        transform-origin:bottom;
        perspective: 400px;
        perspective-origin: 25% 75%;
        -webkit-transform: rotateY(150deg); /* Safari prior 9.0 */
        transform: rotateY(150deg) perspective(400px) translateX(-20%) scale(1.5); /* Standard syntax */
        transition: all 1s ease-in-out;
        -moz-transition: all 1s ease-in-out;
        -webkit-transition: all 1s ease-in-out;}
      to {-webkit-transform: rotateY(0deg); /* Safari prior 9.0 */
        transform: rotateY(0deg); /* Standard syntax */
        transition: transform 0.6s ease-in-out;
        -moz-transition: transform 0.6s ease-in-out;
        -webkit-transition: transform 0.6s ease-in-out;}
    }
    @keyframes logo-effect {
      from {transform-style: preserve-3d;
        backface-visibility:visible;
        transform-origin:bottom;
        perspective: 400px;
        perspective-origin: 25% 75%;
        -webkit-transform: rotateY(150deg); /* Safari prior 9.0 */
        transform: rotateY(150deg) perspective(400px) translateX(-20%) scale(1.5); /* Standard syntax */
        transition: all 1s ease-in-out;
        -moz-transition: all 1s ease-in-out;
        -webkit-transition: all 1s ease-in-out;}
      to {-webkit-transform: rotateY(0deg); /* Safari prior 9.0 */
        transform: rotateY(0deg); /* Standard syntax */
        transition: transform 0.6s ease-in-out;
        -moz-transition: transform 0.6s ease-in-out;
        -webkit-transition: transform 0.6s ease-in-out;}
    }
/* Effect 3 */
    @-webkit-keyframes button-scale { /* Safari 4.0 - 8.0 */
      from {opacity: 0; transform: scale(0.5);}
      to {opacity: 1; transform: scale(1);}
    }
    @keyframes button-scale { /* Standard syntax */
      from {opacity: 0; transform: scale(0.5);}
      to {opacity: 1; transform: scale(1);}
    }
/* ========= End Banner ========= */
